/* datepicker-theme.css */

.react-datepicker-wrapper .react-datepicker__input-container input {
    background-color: #18181b;
    border-color: #27272a;
    color: #e4e4e7;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border-width: 1px;
}

.react-datepicker-wrapper .react-datepicker__input-container input:hover {
    border-color: #71717a;
}

.react-datepicker-popper {
    z-index: 10;
}

.react-datepicker {
    font-family: 'Inter', sans-serif;
    background-color: #18181b;
    border: 1px solid #27272a !important;
    border-radius: 0.375rem !important;
}

.react-datepicker__header {
    background-color: #09090b;
    border-bottom: 1px solid #27272a;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    color: #e4e4e7;
    font-weight: bold;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    color: #a1a1aa;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
    background-color: #dc2626;
    color: white;
}

.react-datepicker__day:hover {
    background-color: #27272a;
}

.react-datepicker__day--keyboard-selected {
    background-color: #dc2626;
}

.react-datepicker__day--disabled {
    color: #404040;
}

.react-datepicker__navigation-icon::before {
    border-color: #e4e4e7;
}
